.err {
	color: red;
}

.success {
	color: #10ff10;
}

.subtle {
	color: gray;
	font-size: small;
}

.cancel {
	filter: brightness(0.5) grayscale();
}

body {
	background-color: #161616;
	color: white;
	font-family: sans-serif;
	min-height: 100vh;
	margin: auto;
	display: flex;
	flex-direction: column;
}

footer {
	margin-top: 50px;
	height: 50px;
	background-color: rgb(29, 29, 29);
	color: #393939;
	text-align: center;
	font-size: 20px;
	font-weight: 100;
	line-height: 53px;
}

nav {
	background: linear-gradient(#161616, #161616) padding-box, linear-gradient(to right, #ffd466, #c46d0f) border-box;
	border-bottom: 2px solid transparent;
	padding: 15px 0px 15px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0px;
	z-index: 10;
	margin: auto;
	min-width: 100vw;
}

@media (min-width: 1080px) {
	nav {
		min-width: 1080px;
		max-width: 1080px;
	}
}

.nav-btn {
	border: none;
	background: none;
	width: max-content;
	border-bottom: 1px solid #454545;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.nav-btn-active {
	border-bottom-width: 3px;
	border-bottom-color: #5b5b5b;
	color: #ffd466;
	font-weight: 400;
}

.nav-btn:hover {
	border-bottom-width: 3px;
	border-bottom-color: #5b5b5b;
}

.logo {
	font-size: xx-large;
	font-weight: 200;
	cursor: pointer;
	border-radius: 5px;
	width: max-content;
}

@media (max-width: 768px) {
	nav {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.nav-btn {
		font-size: small;
		background: none;
		width: max-content;
	}

	footer {
		font-size: medium;
	}
}

.corner {
	border: 2px solid white;
	border-left: none;
	border-bottom: none;
	height: 25px;
	width: 25px;
	margin-left: -12px;
	margin-bottom: 18px;
}

button {
	background: none;
	border: 2px solid #ffd466;
	color: white;
	padding: 8px;
	font-size: large;
	font-weight: 200;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.2s;
}

button:hover {
	font-weight: 400;
	background-color: #ffffff18;
	transform: scale(1.025);
}

@media (max-width: 768px) {
	button {
		font-size: medium;
	}
}

input {
	margin-top: 5px;
	background: none;
	border: 2px solid rgba(201, 234, 213, 0.241);
	border-radius: 5px;
	color: white;
	font-size: large;
	padding: 2px 4px 2px 4px;
	transition: all 0.3s;
}
input:hover {
	background-color: #ffffff18;
}

input[type="radio"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 2px solid #555;
	outline: none;
	transition: 0.3s;
}

/* Custom styling for checked state */
input[type="radio"]:checked {
	background-color: #ffd466;
}

label {
	font-size: large;
	font-weight: 600;
	color: white;
}

span {
	color: white;
	font-size: large;
}

.cont {
	padding: 25px;
	background: linear-gradient(#2c2c2c, #2c2c2c) padding-box, linear-gradient(to right, #ffd466, #c46d0f) border-box;
	border: 2px solid transparent;
	border-radius: 25px;
	margin: auto;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	box-shadow: rgba(0, 0, 0, 0.829) 0px 5px 25px;
}

.sm {
	max-width: 256px;
	width: 80vw;
}

.md {
	max-width: 512px;
	width: 80vw;
}

.lg {
	max-width: 756px;
	width: 80vw;
}

h1 {
	font-weight: 200;
}

h2 {
	font-size: x-large;
	font-weight: 200;
	padding: 0 8px 4px 8px;
	border-bottom: 1px solid gray;
}

h3 {
	font-size: x-large;
	font-weight: 600;
}

h4 {
	font-size: 20px;
	color: #959595;
	font-weight: 200;
}

p {
	font-size: large;
	font-weight: 200;
	line-height: 24px;
	letter-spacing: 1px;
}

li {
	margin-top: 5px;
	color: rgba(255, 255, 255, 0.683);
}

a {
	color: #ffd466;
	text-decoration: underline;
	cursor: pointer;
}

textarea {
	width: calc(100% - 20px);
	height: 15vh;
	background: none;
	border-radius: 15px;
	color: white;
	font-family: sans-serif;
	padding: 10px;
	border: 1px solid rgb(122, 122, 122);
}

@media (max-width: 768px) {
	p {
		font-size: medium;
	}
}

/*-------- Song Idea Card ----------*/

.song-card {
	border: 1px solid rgb(92, 92, 92);
	padding: 30px;
	border-radius: 25px;
	box-shadow: #00000049 0px 5px 25px;
	width: calc(100% - 60px);
}

.creator-wrapper {
	display: flex;
	align-items: center;
	gap: 4px;
	height: 25px;
	margin-top: -18px;
}

.description {
	max-height: 300px;
	overflow: scroll;
}

.genre-wrapper {
	display: flex;
	gap: 5px;
	margin-top: -20px;
	flex-wrap: wrap;
}

.genre {
	padding: 10px 24px 7px 24px;
	text-align: center;
	background-color: #202020;
	border-radius: 20px;
	font-style: italic;
	font-weight: 200;
	color: rgb(151, 151, 151);
	width: max-content;
}

@media (max-width: 768px) {
	.description {
		border-radius: 25px;
		padding: 10px;
		box-shadow: inset #00000050 0px -25px 25px;
		border: 1px solid rgb(77, 77, 77);
	}
}

.rating-wrapper {
	display: flex;
	gap: 10px;
	margin-top: -20px;
	align-items: center;
}

.rating {
	margin-top: 4px;
}

.creations-wrapper {
	margin-top: -20px;
	width: calc(100% - 40px);
	max-height: 75px;
	border: 1px solid rgb(77, 77, 77);
	background-color: #202020;
	border-radius: 10px;
	padding-top: 10px;
	box-shadow: inset #00000050 0px -25px 25px;
	overflow-y: scroll;
}

.add-creation-wrapper {
	margin-top: -20px;
}

/*------ Song Input Type -------*/

.song-input-card {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

/*--------- Appear Animation --------*/

.appear {
	opacity: 0;
	animation-name: appear;
	animation-duration: 0.75s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}

@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
