<div class="appear sm cont">
	<h1>Sign up</h1>
	<div><label>Name</label> <input type="text" id="nameInputSignUp" /><br /></div>
	<div><label>Email</label> <input type="email" id="emailInputSignUp" /><br /></div>
	<div><label>Password</label> <input type="password" id="pswHashInputSignUp" /><br /></div>

	<label>User Type</label>
	<div style="display: flex; gap: 10px; margin-top: 5px; margin-bottom: 5px">
		<div><label>Writer</label><input type="radio" id="writerInput" name="user-type" checked="true" /></div>
		<div><label>Musician</label><input type="radio" id="musicianInput" name="user-type" /></div>
	</div>

	<label>Error Language</label>
	<div style="display: flex; gap: 10px">
		<div><label>English</label><input type="radio" id="enInput" name="language" checked="true" /></div>
		<div><label>Norsk</label><input type="radio" id="noInput" name="language" /></div>
	</div>

	<button id="createUserButton">Create User</button>
	<span style="margin-top: 10px" class="subtle">Or login <a id="goToLoginBtn">here</a>...</span>
</div>
