<div class="appear" style="margin: auto; max-width: 90vw">
	<h1 style="text-align: center; margin-top: 50px">The Corner</h1>
	<p style="max-width: 564px; margin: auto; text-align: center">
		Do you have a good idea for a song, but do not have the tools to create music? Than this is the place for you! <br /><br />
		At Creative Corner musicians can find inspiration for their next song, based on your ideas! Get started by
		<span style="font-weight: 600">signing up</span>, and post your unique and special ideas.
	</p>
</div>

<button id="createIdeaBtn" style="margin: auto; display: block; margin-top: 25px">+ Create Idea</button>

<div id="getStartedWrapper" style="margin-top: 25px">
	<p style="text-align: center">Get started by</p>
	<div style="display: flex; justify-content: center; align-items: center; gap: 10px">
		<a id="signUpBtn">Signing up</a>
		<span>or</span>
		<a id="loginBtn">Login</a>
	</div>
	<p style="text-align: center">to share your ideas</p>
</div>

<!-- CREATE SONG IDEA -->

<div class="appear lg cont" style="display: none">
	<h2>Create Song Idea</h2>
	<div class="song-input-card">
		<div><label>Title: </label> <input type="text" id="emailTitle" /><br /></div>
		<label>Description: </label>
		<textarea style="margin-top: -15px" id="descriptionInput"></textarea>
		<h4>Genre Suggestions</h4>
		<div style="margin-top: -45px; margin-bottom: 10px">
			<input type="text" />
			<button>Add Genre</button>
		</div>
		<div class="genre-wrapper">
			<span class="genre">EDM</span>
			<span class="genre">Electronic</span>
			<span class="genre">Hyper Pop</span>
		</div>
	</div>
	<button style="font-size: x-large; margin-top: 20px">Save Idea</button>
</div>

<!-- THE CORNER -->

<div class="appear lg cont">
	<h2>Song Ideas</h2>
	<div class="song-card">
		<h3 id="title">Carrots on Mars</h3>
		<div class="creator-wrapper">
			<span>By:</span>
			<h4 id="creator">Sparky</h4>
		</div>

		<p class="description">
			"Carrots on Mars" is an eccentric and whimsical tune that whimsically explores the idea of growing vegetables on the red planet. Set to a catchy
			melody with a blend of upbeat rhythms and futuristic sounds, the song follows the adventures of a group of intrepid astronauts who embark on a
			mission to cultivate carrots in the barren landscapes of Mars. As they face challenges and unexpected discoveries along the way, the song
			celebrates the spirit of exploration, innovation, and the possibility of finding life, even in the most unlikely of places. With its playful
			lyrics and infectious energy, "Carrots on Mars" is a delightful ode to curiosity and the wonders of the universe.
		</p>
		<h4>Genre Suggestions</h4>
		<div class="genre-wrapper">
			<span class="genre">EDM</span>
			<span class="genre">Electronic</span>
			<span class="genre">Hyper Pop</span>
		</div>
		<div id="cardUserInteractivesWrapper">
			<h4>Rating</h4>
			<div class="rating-wrapper">
				<span>⭐️</span><span class="rating">5</span>
				<div style="height: 30px; width: 2px; background-color: gray; margin-left: 10px; margin-right: 10px"></div>
				<input style="width: 40px" type="number" min="0" max="5" /> <button>Submit Rating</button>
			</div>
			<h4>Creations</h4>
			<ul class="creations-wrapper">
				<li>
					Title: <span>Carrots On Mars</span>&nbsp;By: <span>Bluesbrothers</span>&nbsp;Link: <a href="https://youtube.com">https://youtube.com</a>
				</li>
				<li>Title: <span>Vegetables On Venus</span>&nbsp;By: <span>Sparky</span>&nbsp;Link: <a href="https://youtube.com">https://youtube.com</a></li>
				<li>
					Title: <span>Vegetables On The Moon</span>&nbsp;By: <span>Sparky</span>&nbsp;Link: <a href="https://youtube.com">https://youtube.com</a>
				</li>
				<li>
					Title: <span>Vegetables In Uranus</span>&nbsp;By: <span>Sparky</span>&nbsp;Link: <a href="https://youtube.com">https://youtube.com</a>
				</li>
			</ul>

			<!-- Only Visible for Musicians -->

			<div id="addCreationWrapper" style="display: none" class="add-creation-wrapper">
				<h4>Add Creation</h4>
				<div><label>Title: &nbsp; </label><input type="text" /></div>
				<div><label>Artist: </label><input type="text" /></div>
				<div><label>Link: &nbsp; </label><input type="url" /></div>
				<button style="margin-top: 10px">Save Creation</button>
			</div>
			<button id="addCreationBtn" style="margin-top: 10px; display: block">Add Creation</button>
		</div>
	</div>
</div>
