<div class="appear" style="margin: auto; max-width: 90vw">
	<h1 style="text-align: center; margin-top: 50px">The Corner</h1>
	<p style="max-width: 564px; margin: auto; text-align: center">
		Do you have a good idea for a song, but do not have the tools to create music? Than this is the place for you! <br /><br />
		At Creative Corner musicians can find inspiration for their next song, based on your ideas!
	</p>
</div>

<button id="createIdeaBtn" style="margin: auto; display: block; margin-top: 25px">+ Create Idea</button>

<div style="margin: auto; margin-top: 25px; text-align: center" class="sm"><h3 id="successDisplay" class="success"></h3></div>

<div id="getStartedWrapper" style="margin-top: 25px">
	<p style="text-align: center">Get started by</p>
	<div style="display: flex; justify-content: center; align-items: center; gap: 10px">
		<a id="signUpBtn">Signing up</a>
		<span>or</span>
		<a id="loginBtn">Login</a>
	</div>
	<p style="text-align: center">to share your ideas</p>
</div>

<!-- CREATE SONG IDEA -->

<div class="appear lg cont" id="createIdeaWrapper" style="display: none">
	<h2>Create Song Idea</h2>
	<div class="song-input-card">
		<div><label>Title </label> <input type="text" id="titleInput" /><span class="subtle"> &nbsp;(Required)</span></div>
		<label>Description <span class="subtle"> &nbsp;(Required)</span> </label>
		<textarea style="margin-top: -15px" id="descriptionInput"></textarea>
		<h4 style="margin-top: 0px">Genre Suggestions<span class="subtle"> &nbsp;(Min 1 Required)</span></h4>

		<div style="margin-top: -45px; margin-bottom: 10px">
			<input id="genreInput" type="text" />
			<button id="addGenreBtn">Add Genre</button>
		</div>

		<div id="genreInputDisplay" class="genre-wrapper"></div>
	</div>
	<button id="saveIdeaBtn" class="green-btn" style="margin-top: 20px">Save Idea</button>
	<button id="cancelIdeaBtn" style="margin-left: 5px" class="cancel">Cancel</button>
</div>

<!-- EDIT SONG IDEA -->

<div class="appear lg cont" id="editIdeaWrapper" style="display: none">
	<h2>Edit Song Idea</h2>
	<div class="song-input-card">
		<div><label>Title: </label> <input type="text" id="titleInputEdit" /><span class="subtle"> &nbsp;(Required)</span></div>
		<label>Description:<span class="subtle"> &nbsp;(Required)</span> </label>
		<textarea style="margin-top: -15px" id="descriptionInputEdit"></textarea>
		<h4 style="margin-top: 0px">Genre Suggestions <span class="subtle"> &nbsp;(Min 1 Required)</span></h4>
		<div style="margin-top: -45px; margin-bottom: 10px">
			<input id="genreInputEdit" type="text" />
			<button id="addGenreBtnEdit">Add Genre</button>
		</div>
		<div id="genreInputDisplayEdit" class="genre-wrapper"></div>
	</div>
	<button id="saveEditIdeaBtn" class="cancel" style="margin-top: 20px; pointer-events: none">Save Changes</button>
	<button id="deleteIdeaBtn" class="red-btn" style="margin-left: 5px">Delete Idea</button>
	<button id="cancelEditIdeaBtn" style="margin-left: 5px" class="cancel">Cancel</button>
</div>

<div class="list-nav">
	<h2 style="width: max-content">Song Ideas</h2>

	<div style="display: flex; margin-left: auto; align-items: center; gap: 4px">
		<span class="subtle" style="margin-right: 5px">Sort By</span><button id="sortByNewBtn" style="font-size: x-small" class="cancel">Newest</button
		><button id="sortByOldBtn" style="font-size: x-small" class="cancel">Oldest</button>
		<button id="sortByRandomBtn" style="font-size: x-small" class="cancel">Random</button>
		<button class="cancel" style="font-size: x-small" id="showUserIdeasBtn">Your Ideas</button>
	</div>
</div>

<div id="ideasList" style="margin-top: 0px" class="appear lg cont"></div>
