<div class="appear sm cont">
	<h1>Your Info</h1>
	<div id="userInfoWrapper" style="display: flex; flex-direction: column; gap: 10px; width: 100%">
		<div><label>Name: </label><span id="nameDisplay"></span></div>
		<div><label>Email: </label><span id="emailDisplay"></span></div>
		<div><label>Account Type: </label><span id="accountTypeDisplay"></span></div>
		<div><label>Error Language: </label><span id="languageDisplay"></span></div>
	</div>
	<div id="editUserWrapper" style="display: none; flex-direction: column; gap: 10px">
		<div id="editUserInfoWrapper" style="display: flex; flex-direction: column; gap: 10px">
			<div><label>Name </label><input id="nameInput" type="text" /></div>
			<div><label>Email </label><input id="emailInput" type="text" /></div>
			<label>User Type</label>
			<div style="display: flex; gap: 10px; margin-top: -5px; margin-bottom: 5px">
				<div><label>Writer</label><input type="radio" id="writerInput" name="user-type" /></div>
				<div><label>Musician</label><input type="radio" id="musicianInput" name="user-type" /></div>
			</div>
			<label>Error Language</label>
			<div style="display: flex; gap: 10px">
				<div><label>English</label><input type="radio" id="enInput" name="language" checked="true" /></div>
				<div><label>Norsk</label><input type="radio" id="noInput" name="language" /></div>
			</div>
		</div>

		<div id="changePasswordWrapper" style="display: none">
			<div><label>Old Password: </label><input id="oldPasswordInput" type="password" /></div>
			<div><label>New Password: </label><input id="newPasswordInput" type="password" /></div>
		</div>

		<button id="submitChangesBtn" style="margin-top: 10px; color: greenyellow; border-color: greenyellow">Submit Changes</button>

		<button id="changePasswordBtn" style="margin-top: 10px">Change Password</button>

		<button id="deleteUserBtn" style="margin-top: 10px; color: red; border-color: red">Delete Account</button>
	</div>
	<button id="editUserBtn" style="margin-top: 10px">Edit User</button>
	<button id="logoutBtn" class="cancel">Log Out</button>
</div>
<div style="margin: auto; margin-top: 25px; text-align: center" class="sm"><h3 id="successDisplay" class="success"></h3></div>
