<div class="appear sm cont">
	<h1>Your Info</h1>
	<div style="display: flex; flex-direction: column; gap: 10px; width: 100%">
		<div><label>Name: </label><span id="nameDisplay"></span></div>
		<div><label>Email: </label><span id="emailDisplay"></span></div>
		<form style="width: 100%">
			<label>User Type</label>
			<div style="display: flex; gap: 10px; margin-top: 5px; margin-bottom: 5px">
				<div><label>Writer</label><input type="radio" id="" name="user-type" checked="true" /></div>
				<div><label>Musician</label><input type="radio" id="user-type" name="user-type" /></div>
			</div>
		</form>
	</div>
	<button style="margin-top: 20px; color: red; border-color: red">Delete Account</button>
</div>
