<div class="appear sm cont">
	<h1>Your Info</h1>
	<div style="display: flex; flex-direction: column; gap: 10px; width: 100%">
		<div><label>Name: </label><span id="nameDisplay"></span></div>
		<div><label>Email: </label><span id="emailDisplay"></span></div>
	</div>
	<div>
		<div><label>Name: </label><input type="text" /></div>
		<div><label>Email: </label><input type="text" /></div>
		<button>Change Password</button>
		<div>
			<div><label>Old Password: </label><input type="text" /></div>
			<div><label>New Password: </label><input type="text" /></div>
		</div>
	</div>
	<button id="editUserBtn">Edit User</button>
	<button id="logoutBtn" class="cancel">Log Out</button>
	<button id="deleteUserBtn" style="margin-top: 20px; color: red; border-color: red">Delete Account</button>
</div>
<div style="margin: auto; margin-top: 25px" class="sm"><h3 id="errorDisplay" class="err"></h3></div>
